[Unit]
Description=Shared whiteboard

[Service]
ExecStart=/usr/local/bin/node /home/andries/shared-whiteboard/server.js

[Install]
WantedBy=multi-user.target
