* {
	margin: 0;
	padding: 0;
}

html, body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
	background-color: black;
}

.nav {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	background-color: #363636;
	z-index: +10;
}

.nav-box {
	margin: 15px 100px 15px 100px;
	color: white;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.nav i {
	opacity: 0.5;
}

.nav i.active {
	opacity: 1;
}

.nav i:hover {
	opacity: 1;
}

.title {
	font-family: 'Baloo Thambi 2', cursive;
	font-weight: 600;
	font-size: 15px;
	line-height: 15px;
	/*opacity: 0.5;*/
}

#pageNr {
	font-family: 'Baloo Thambi 2', cursive;
	font-weight: 600;
	border-radius: 50%;
    width: 15px;
    height: 15px; 
    background-color: white;
    color: #363636;
    font-size: 13px;
    text-align: center;;
    line-height: 15px;
    /*opacity: 0.5;*/
}

/*https://stackoverflow.com/questions/20590239/maintain-aspect-ratio-of-div-but-fill-screen-width-and-height-in-css/36295495#20593342*/
.container {
	width: 100vw; 
    height: 56.25vw; 
    max-height: 100vh;
    max-width: 177.78vh; 
    margin: auto;
    position: fixed;
    top:0;bottom:0;
    left:0;right:0;
}

/* Background pattern from Toptal Subtle Patterns */
.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-image: url("background.png");
	background-repeat: repeat;
}

#canvas {
	left: 0;
	top: 45px;

	width: 100%;
	height: calc(100% - 45px);
    position: absolute;
	z-index: 0;
}

